.animeLeft{
  opacity:0;
  transform: translateX(-20px);
  animation: animeLeft .4s forwards;
}

@keyframes animeLeft {
  to{
    opacity:1;
    transform: initial;
  }
}

.loader {
  animation: rotating 1s infinite;
  border: 10px solid #1C83EE;
  border-radius: 50%;
  border-top-color: #ccc;
  height: 40px;
  width: 40px;
}

@keyframes rotating {
  to {
    transform: rotate(1turn);
  }
}